.zoro__fs{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.zoro__fs-heading{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
    margin-right: 5rem;
}

.zoro__fs-heading h1{
    font-family: var(--font);
    font-weight: 800;
    font-size: 34px;
    line-height: 40px;
}
.zoro__fs-heading p{
    font-family: var(--font);
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: var(--color-blog);
    margin-top: 2rem;
}
.zoro__fs-container{
  flex: 1.5;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}


@media screen and (max-width : 990px){
   .zoro__fs{
    flex-direction: column;
   }
   .zoro__fs-heading{
    margin: 0 0 2rem 0;
   }
}
@media screen and (max-width : 550px){
   
.zoro__fs-heading h1{ 
    font-size: 24px;
    line-height: 28px;
}
.zoro__fs-heading p{  
    font-size: 16px;
    line-height: 20px;
}
 }